# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*              --expression
'hello'        --Value
-87.8          --Value
-              --expression
/              --expression
+              --expression
6              --Value

# 2.What is the difference between string and variable?

A variable is basically the name of the location in the primary memory of your computer. This can be chosen by you. 
A variable can store everything from strings to numbers.

A string is the values inside the quotes assigned to a string.Strings are arrays of bytes representing Unicode characters.
However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string

A variable can hold a string, but a string can't hold a variable

# 3.Describe three different data types.

There are many type of data types in pythons.Every value in Python has a datatype. 
Since everything is an object in Python programming, data types are actually classes and variables are
instance (object) of these classes.

Following are the 3 built-in data type of Python:

1) Numeric : Numeric are used to represent the data which has numeric value. Numeric value can be integer, 
floating number or even complex numbers. These values are defined as int, float and complex class in Python.
  ex: a = 5 where a is of type int
  
2) Set : Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. 
The order of elements in a set is undefined though it may consist of various elements
ex: b = {5,2,3,1,4}  where b is of type set

3) Dictionary: Dictionary is an unordered collection of key-value pairs.
It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

ex: d = {1:'value','key':2}   where d is of type dict

In [3]:
a = 5
print("Type of a: ", type(a))

b = {5,2,3,1,4}
print("Type of b: ",type(b))

d = {1:'value','key':2}
print("Type of d: ",type(d))

Type of a:  <class 'int'>
Type of b:  <class 'set'>
Type of d:  <class 'dict'>

# 4. What is an expression made up of? What do all expressions do?

An expression is a combination of operators and operands that is interpreted to produce some other value. 
In any programming language, an expression is evaluated as per the precedence of its operators.
So that if there is more than one operator in an expression, their precedence decides which operation will be 
performed first

itis used to implement the arthematic and logical operation in python

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

STATEMENT:

A Statement is a action or a command that does something. Ex: If-Else,Loops..etc

In [12]:
a= 6
if a >5 :
    print("Hey!") 
else:
    print("Hi!")

Hey!

EXPRESSION:

A Expression is a combination of values, operators and literals which yields something.

In [13]:
a = 5 + 5

# 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [15]:
bacon = 22
print('Bacon contains:', bacon)
bacon +1 
print('Bacon contains:', bacon)

Bacon contains: 22
Bacon contains: 22

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

In [16]:
a = 'spam' + 'spamspam'
print(a)

spamspamspam

In [17]:
b = 'spam'*3
print(b)

spamspamspam

# 8. Why is eggs a valid variable name while 100 is invalid?

Eggs is a valid variable name while 100 is not because Variable names cannot begin with a number.

#  9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [19]:
a = 10

b= int(a)
print("Type of b: ",type(b))

c= float(a)
print("Type of c: ",type(c))

d= str(a)
print("Type of d: ",type(d))

Type of b:  <class 'int'>
Type of c:  <class 'float'>
Type of d:  <class 'str'>

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

expression is causing an error because 99 is not in single quote

In [20]:
Correct_form = 'I have eaten ' + '99' + ' burritos.'
Correct_form

'I have eaten 99 burritos.'